USE [master]
GO
/****** Object:  Database [fairmanagementDB]    Script Date: 27-May-15 11:03:40 PM ******/
CREATE DATABASE [fairmanagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'fairmanagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\fairmanagementDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'fairmanagementDB_log', FILENAME = N'E:\DOCUMENTS\Shagar\SEIP BASIS\Works\My Work\fairmanagementDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [fairmanagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [fairmanagementDB]
GO
/****** Object:  Table [dbo].[tbl_zoneType]    Script Date: 27-May-15 11:03:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_zoneType](
	[zid] [int] NOT NULL,
	[zoneType] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[visitor]    Script Date: 27-May-15 11:03:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[visitor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[visitorName] [varchar](50) NULL,
	[visitorEmail] [varchar](50) NULL,
	[visitorCellNo] [int] NULL,
 CONSTRAINT [PK_visitor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
